<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Un Email Responsive</title>
        <style type="text/css">
        body {margin: 0; padding: 0; min-width: 100%!important;}
        .content {width: 100%; max-width: 600px;}  
        </style>
    </head>
    <body yahoo bgcolor="#f6f8f1">
    	<h3>Votre réservation pour le {{ date|date('d/m/y') }} au musée du Louvre</h3>
        <table width="100%" bgcolor="#f6f8f1" border="1" cellpadding="0" cellspacing="0">
		  <thead>
		    <tr>
		      <th>Nom</th>
		      <th>Prenom</th>
		      <th>Code de la réservation</th>
		    </tr>
		  </thead>
		  <tbody>
            {% for nomi in coordonnees %}
		    <tr>
		      <td>{{ nomi.nom|capitalize }}</td>
		      <td>{{ nomi.prenom|capitalize }}</td>
		      <td>{{ nomi.codeReservation }}</td>
		    </tr>
		    {% endfor %}
		  </tbody>
        </table>	
		<p>Montant de votre commande : {{ price }} €.
		<p>Merci de votre confiance!</p><hr>
		<p style="text-align: center;">Musée du Louvre - Rue de Rivoli, 75001 Paris</p>
    </body>
</html>
