
<div class="col-md-8" style="opacity: 0.85">
	<div class="well">
    	<h2>Réservation du {{ reservation.date|date('d/m/y') }}</h2><hr>
	</div>
    {% set i = 0 %}
	{{ form_start(formi) }} 
	{% for coordonneesField in formi.coordonnees %}
		{% set i = i+1 %}
		<div class="well">
			<h3>Participant {{ i }}</h3>
	        {{ form_errors(coordonneesField) }}
	        {{ form_widget(coordonneesField) }}
	    </div>
	{% endfor %}
	{{ form_rest(formi) }}
	{{ form_end(formi) }}
</div>

  
<div>
	<div class="col-md-4" style="opacity: 0.85">
	  	<div class="well">
	    	<h3>Montant de votre réservation : {{ price }} €.</h3><hr>
		</div>
	</div>

</div>


