<h3>Formulaire d'annonce</h3>



<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}


    {# Les erreurs générales du formulaire. #}

    {{ form_errors(form) }}


    {{ form_label(form.date, "Date de réservation") }}
    {{ form_widget(form.date,{ 'id': 'datepicker'}) }}

    {{ form_row(form.quantite) }}
    {{ form_row(form.Email) }}
    
    {{ form_row(form.billet) }}


  {{ form_widget(form.Envoyer, {'attr': {'class': 'btn btn-primary'}}) }}

  {{ form_row(form.coordonnees) }}
  <a href="#" id="add_coordonnees" class="btn btn-default">Ajouter un participant</a>

  {# Fermeture de la balise <form> du formulaire HTML #}

  {{ form_end(form) }}
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">

  $(document).ready(function() {

    var $container = $('div#morad_billeteriebundle_reservation_coordonnees');
    var index = $container.find(':input').length;
    $('#add_coordonnees').click(function(e) {

      addCoordonnees($container);


      e.preventDefault();

      return false;

    });


    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).

    if (index == 0) {

      addCoordonnees($container);

    } else {

      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }


    function addCoordonnees($container) {
      var template = $container.attr('data-prototype')

        .replace(/__name__label__/g, 'Paraticipant n°' + (index+1))

        .replace(/__name__/g,        index)

      ;

      var $prototype = $(template);
      addDeleteLink($prototype);
      $container.append($prototype);
      index++;

    }

    function addDeleteLink($prototype) {
      var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');
      $prototype.append($deleteLink);
      $deleteLink.click(function(e) {
        $prototype.remove();
        e.preventDefault(); 
        return false;
      });

    }

  });

</script>
{{ dump(reservation) }}
{% for journee in reservation %}
  {{ reservation.journee }}
{% endfor %}