<h3>Formulaire d'annonce</h3>

<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}

  {{ form_errors(form) }}

  {{ form_label(form.date, "Date de réservation") }}

  {{ form_widget(form.date,{ 'id': 'datepicker'}) }}

  {{ form_row(form.quantite) }}

  {{ form_row(form.Email) }}
    
  {{ form_row(form.billet, {'attr': {'class': 'billet'}}) }}

  {% for message in app.session.flashbag.get('reservationJf') %}
  <script>alert("La réservation en ligne n'est possible que du Lundi au Samedi (hors jours fériées), merci de votre compréhension.")</script>
  {% endfor %}

  {% for message in app.session.flashbag.get('quantite') %}
       
    <p class="alert alert-danger" style="font-size: 14px;"><U>Attention:</U> {{ message }}</p>

  {% endfor %}

  {{ form_widget(form.Envoyer, {'attr': {'class': 'btn btn-primary'}}) }}

  {{ form_end(form) }}
</div>

<script>
  var formatDate = function(date) {   
    var dd = date.getDate();
    var mm = date.getMonth() + 1; // Janvier étant le mois    
    var yyyy = date.getFullYear();  
    if(dd < 10){    
      dd = '0' + dd;
    }   
    if(mm < 10){    
      mm = '0' + mm;
    }     
    return dd + '/' + mm + '/' + yyyy; 
  };
  var majBillet = function(){
    var billet = document.getElementsByClassName('billet')[0];
    var datePicker = document.getElementById('datepicker').value;
    var date = new Date();
    var heure = date.getHours();
    var dateFormattee = formatDate(date);

    if(heure >= 14 && datePicker == dateFormattee){
      billet.options[0].style.display = "none";
      billet.options[1].selected = true;
    }
    else {
      billet.options[0].style.display = "block";
      billet.options[0].selected = true;
    }
  };

  (function(){
    majBillet();
    document.getElementById('datepicker').onchange = majBillet;
  })();
</script>