<h3>Formulaire d'annonce</h3>



<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}


    {# Les erreurs générales du formulaire. #}

    {{ form_errors(form) }}


    {{ form_label(form.date, "Date de réservation") }}
    {{ form_widget(form.date,{ 'id': 'datepicker'}) }}

    {{ form_row(form.quantite) }}
    {{ form_row(form.Email) }}
    
    {{ form_row(form.billet) }}


  {{ form_widget(form.Envoyer, {'attr': {'class': 'btn btn-primary'}}) }}

   {{ form_end(form) }}
</div>